.grid-container{
    display: grid;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (max-width:800px) {
    .container{

    flex-direction:column;
    }    
}
.card {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: antiquewhite;
    margin: 1%;
    border: 10;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 90%;
}

.card img {
    width: 250px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    justify-items: center;
}

.username {
    padding-top: 1%;
    font-size: 32px;
    justify-content: center;
    font-weight: 600
}

.bio {
    font-size: 18px;
    border: 3px;
    justify-items: center;
    padding: 5px;
}